.clientRegister{
    background-color: rgb(247, 255, 140);
    color: black;
    border-radius: 10px;
    font-weight: bold;
    line-height: 5px;
    text-align: center;
    height: 3.2vh;
    margin-top: 7px;
}


.clientRegister:hover{
    background-color: rgb(255, 211, 161);
    color: black;
}

@media (max-width: 490px) {
    .clientRegister{
        color: aliceblue;
        width: 50%;
        height: 5vh;
        line-height: 25px;
        text-align: center;
    }
}