.clientRegister{
    background-color: rgb(49, 49, 129);
    color: aliceblue;
    border-radius: 10px;
    font-weight: bold;
    line-height: 5px;
    text-align: center;
    height: 3.2vh;
    margin-top: 7px;
}


.clientRegister:hover{
    background-color: var(--bs-dark-bg-subtle);
    color: var(--bs-heading-color);
}

@media (max-width: 490px) {
    .clientRegister{
        color: aliceblue;
        width: 50%;
        height: 5vh;
        line-height: 25px;
        text-align: center;
    }
}